# Mac files.
**/.DS_Store
.DS_Store

node_modules/
npm-debug.log
.npm

./application/mychannel_blockchain-network_profile.json
./application/mychannel_bnnetwork_profile.json
bnnetwork@0.0.1.cds
blockchain-network@0.0.1.cds

./contract/.vscode/